.right-foot {
  font-family: 'Pacifico', Helvetica Neue, Helvetica, PingFang SC, Lantinghei SC, Hiragino Sans GB, Microsoft YaHei, \\5FAE\8F6F\96C5\9ED1, STHeitiSC-Light, simsun, WenQuanYi Zen Hei, WenQuanYi Micro Hei, Arial, sans-serif;
  position: fixed;
  z-index: 0;
  bottom: 56%;
  left: 56%;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  writing-mode: lr-tb; }

.firstrow,
.secondrow {
  display: inline-block;
  line-height: 1;
  vertical-align: top; }

@media screen and (max-width: 782px) {
  .right-foot {
    font-size: 26px !important;
    line-height: 35px;
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 30px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    text-align: center; }
  .i-caret-right {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg); }
  .firstrow,
  .secondrow {
    display: block; } }
